body{
    background: rgb(97, 104, 158);
    font: normal 15pt Arial;
    background-image: url("/assets/fundo.jpg");
}

header{
    color: white;
    text-align: center;
}

section{
    background: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 15px;
    width: 260px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.494);
    text-align: center;
}

footer{
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}
input{
    width: 60px;
    height: 30px;
    margin: 2px;
    border: 0px;
    border-radius: 15%;
    font-size: 20px;
    background-color: rgb(204, 201, 201);
}
select{
    width: 150px;
    height: 30px;
}
input#result{
    width: 113px;
    height: 30px;
    text-align: right;
    border: 0;
    border-radius: 0%;
    margin-bottom: 5px;
    background-color: white;
}
input#clear{
    background-color: rgb(248, 58, 58);
    color: white;
    border: 0;
    border-radius: 15%;
    border-color: black;
    font-size: 20px;
}
input#func{
    background-color: rgb(95, 242, 95);
}